<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="/images/icons/favicon.png">
    <title>{% block title %}{% endblock %} | SQLite Photo Gallery</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body class="app flex flex-col h-screen text-slate-700 bg-slate-50">
    <header class="app-header mb-2 sticky top-0 shadow-md z-40 bg-white">
        <nav class="container mx-auto flex flex-row justify-between px-4">
           <div class="">
               <a href="/"
                  class="block text-sky-800 mt-2 md:mt-0 md:text-center font-bold text-xl pt-4 lg:py-6 lg:py-4">SQLite Photo Gallery</a>
           </div>
            <div class="py-4">
                <a href="/image"
                   class="hidden sm:block text-center text-white p-2 hover:no-underline border rounded-md bg-sky-700 hover:drop-shadow-md">Upload a photo</a>
                <a href="/image"
                   class="sm:hidden block text-center text-white p-2 hover:no-underline border rounded-md bg-sky-700 hover:drop-shadow-md">Upload</a>
            </div>
        </nav>
    </header>

    <main class="container mx-auto px-3 mt-2 mb-4 grow xl:max-w-screen-lg z-30">
        {% block content %}{% endblock %}
    </main>

    <footer class="app-footer bg-gradient-to-b bg-white border-t-2 border-t-slate-200 text-slate-700 text-sm px-3 py-3 mt-auto sticky bottom-0 bg-bin-pattern-100-25o z-30">
        <div class="container">
            <p>
                &copy; {{ "now"|date("Y") }}, <a href="https://matthewsetter.com" class="text-slate-700">Matthew Setter</a>
            </p>
        </div>
    </footer>
</body>
</html>
