{% extends '@layout/default.html.twig' %}

{% block title %}Problem Deleting the Photo{% endblock %}

{% block content %}
    <h1>Unable to Delete Photo</h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-6">
        {# add content #}
    </div>
{% endblock %}