{% extends '@layout/default.html.twig' %}

{% block title %}Uploaded Images{% endblock %}

{% block content %}
    <h1>Available Images</h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-6">
        {% for image in images %}
            <div class="border-2 border-slate-200 rounded-md p-2">
                <div class="flex flex-row justify-center items-center">
                    <img src="data:image/png;base64,{{ image.getData() }}"
                          alt="{{ image.getName() }}">
                </div>
                <div class="text-center text-sm mt-2">{{ image.getName() }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}