{% extends '@layout/default.html.twig' %}

{% block title %}Uploaded a Photo{% endblock %}

{% block content %}

    <div class="md:mt-4 ml-1 text-sm">
       <a href="/"
          class="text-slate-400"
          title="View all photos">Home</a> &raquo; <span class="font-medium text-slate-500">upload photo</span>
    </div>

    <h1 class="inline-block mt-0 ml-1 md:mb-1 xl:text-4xl">Upload a Photo</h1>

    <form name="upload-image"
          class="mt-0 md:mt-2"
          action="/"
          method="post"
          enctype="multipart/form-data">
        <div class="mb-4">
            <label class="text-normal font-medium text-gray-700 block mb-1 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                   for="file">Pick an image:
            </label>
            <input accept="image/avif,image/gif,image/jpeg,image/png,image/webp"
                   class="relative m-0 block w-full min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-neutral-700 transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-3 file:py-[0.32rem] file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:border-primary focus:text-neutral-700 focus:shadow-te-primary focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-neutral-700 dark:file:text-neutral-100 dark:focus:border-primary"
                   id="file"
                   name="file"
                   required="required"
                   type="file">
            <div class="mt-2 text-xs text-gray-500">
                Only {{ formats | join(', ', ' and ')}} files are supported, up to a maximum file size of <strong>5MB</strong>.
            </div>

            <div class="mt-4">
                <h3 class="font-medium block">Optimise the image</h3>
                <div>
                    <label>
                        <input type="radio"
                                  class="w-fit mt-3 mr-1 p-3"
                                  value="yes"
                                  name="optimise"
                                  id="optimise"> Yes
                        <span class="ml-6 text-sm font-normal text-gray-500 break-words whitespace-normal">
                            The image will be converted to <a href="https://www.industrialempathy.com/posts/avif-webp-quality-settings/"
                                                              target="_blank">AVIF</a> format.<br>
                            <strong class="text-red-900">Caution:</strong> the larger the size of the image being uploaded, the greater the resources required to convert it.
                        </span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio"
                              class="w-fit mt-3 mr-1"
                              value="no"
                              name="optimise"
                              checked
                              id="optimise"> No
                        <span class="ml-6 text-sm font-normal text-gray-500">The image will be left in its original format</span>
                    </label>
                </div>
            </div>
        </div>
        <hr class="mt-2 mb-1 border-1 border-slate-200 shadow-md">
        <input type="submit"
               name="submit"
               class="mt-2"
               value="Upload Photo">
    </form>

{% endblock %}
